.feature {
  padding-top: 60px;
  padding-bottom: 60px;
}


.feature__list {
  @media screen and (min-width: 479.98px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
  }
  & .feature__wrapper {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
  
  & .feature__item {
    @media screen and (min-width: 479.98px) {
      width: calc((100% - 1 * 30px) / 2);
    }
    @media screen and (min-width: 767.98px) {
      width: calc((100% - 1 * 30px) / 5);
    }
  }
  
  
  & .feature__title {
    margin-bottom: 10px;
    margin-top: 0;
  
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
  }
  
  & .feature__text {
    margin: 0;
    font-size: 14px;
    line-height: 1.14;}
  }