.footer {
   
    background-color: #2f303a;
    font-size: 14px;
    line-height: 1.7;
  }
  
  .footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Raleway, cursive;
    color: var(--primary-bg-color);
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
  }
  
  .footer__span {
    color: var(--accent-color);
  }
  
  .footer__adress {
    text-align: center;
    color: var(--primary-bg-color);
    font-size: 14px;
    line-height: 1.7;
  }
  
  .footer__list .footer__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #ffffff99;
    text-decoration: none;
  
    margin-top: 0;
    margin-bottom: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &.footer__link:hover,
  &.footer__link:focus {
    color: var(--accent-color);}
  }
  
  .footer__text {
   text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: var(--primary-bg-color);
    margin-top: 0;
  }
  
  .social__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social__svg {
    color: var(--primary-bg-color);
    fill: currentColor;
  }
  
  .social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-right: 10px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover,
  &:focus {
    background-color: var(--accent-color);}
  }
   
  .input__button {
    display: block;
    align-items: center;
    width: 200px;
    height: 50px;
  
    font-size: 16px;
    font-weight: 700;
    line-height: 1.19;
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    border: none;
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  
  &:focus,
  &:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);}
  }
  

  
  .footer__input {
    align-items: center;
    
    margin: 0;
    padding: 0;
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #2f303a;
    padding: 0;
    outline: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  & :hover,
  & :focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-color: rgba(255, 255, 255, 0.3);}
  }
  
  .footer__input::placeholder {
    padding-left: 16px;
    padding-bottom: 15px;
  }
  
  .footer-input__text {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    color: rgba(255, 255, 255, 1);
    margin-top: 0;
  }