.hero__button {
    font-size: 16px;
    font-weight: 700;
  
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
  
    border: none;
    font-family: inherit;
    display: inline-block;
  
    letter-spacing: 0.06em;
    @media screen and (min-width: 479.98) {
        max-width: 200px;
    }
    min-width: 216px;
    min-height: 50px;
    border-radius: 4px;
    padding: 10px 32px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }