header {
    padding-top: 16px;
}
.logo {
    margin: 0;
    font-family: Raleway, cursive;
    color: var(--title-text-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 1, 19;
    text-decoration: none;
  }
  
  .span {
    color: var(--accent-color);
  }