.logo {
  display: flex;
  justify-content: center;
  align-items: center;
    margin: 0;
    font-family: Raleway, cursive;
    color: var(--title-text-color);
    font-size: 26px;
    line-height: 1, 19;
    text-decoration: none;
  }
  
  .span {
    color: var(--accent-color);
  }