:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-bg-color: #ffffff;
  }
  
  body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 479.98px) {
      width: 479.98px;
    }
    @media screen and (min-width: 767.98px) {
      width: 767.98px;
    }
    
    @media screen and (min-width: 1199.98px) {
      width: 1199.98px;
    }
  }

  header {
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ececec;
  }

  .emphasis::after {
    position: absolute;
    content: "";
    display: block;
    border-radius: 2px;
  
    width: 100%;
    height: 4px;
    bottom: -1px;
  
    background-color: var(--accent-color);
  }
 /*++++++++++++++++++++++++++++++++++*/
  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
  }

  

  .modal-header__close {
    position: absolute;
    right: 15px;
    top: 10px;
  }
  .backdrop.is-hiddenn {
    opacity: 0;
    pointer-events: none;
  }

  .modal__header {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg-color);
  }
  
  .modal-header__open {
    margin-left: auto;
  }

  .modal-header__list{
    position: absolute;
    left: 40px;
    top: 50px;

    color: rgba(33, 33, 33, 1);
    font-size: 40px;
    font-weight: 500;
    line-height: 1.17;
  }

  .modal-header__item {
    margin-bottom: 32px;
  }
  .modal-header__tell {
    position: absolute;
    bottom: 0;
    color: rgba(33, 33, 33, 1);
    font-size: 34px;
    font-weight: 500;
    line-height: 1.17;
  }
  .modal-header__mail {
    position: absolute;
    bottom: 0;

    color: rgba(33, 33, 33, 1);

    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
  }

